{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Логин модератора</h1>
    <form method="post" class="mx-auto" style="max-width: 400px;">
        {{ form.hidden_tag() }}
        {% for field in form if field.name != 'csrf_token' and field.name != 'submit' %}
            <div class="mb-3">
                {{ field.label(class="form-label") }}
                {{ field(class="form-control") }}
            </div>
        {% endfor %}
        {{ form.submit(class="btn btn-primary btn-lg w-100 rounded-pill") }}
    </form>
{% endblock %}